<!DOCTYPE html>
<html
  lang="en"
  th:replace="shared/base :: parent(~{::#content}, ~{::#title}, ~{})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Stock Details</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12">
        <div class="md:col-span-2 lg:col-span-2 xl:col-span-2"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-8 xl:col-span-8">
          <h1
            class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
          >
            Stock Details
          </h1>
          <p class="font-normal text-gray-400 dark:text-gray-500 text-center">
            View detailed transactions for the selected stock
          </p>

          <!-- Stock Overview -->
          <div
            class="p-6 bg-white border-t-8 rounded-lg shadow dark:bg-gray-800"
          >
            <h2
              class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              th:text="${stock.name}"
            ></h2>
            <p class="mt-2 font-normal text-gray-500 dark:text-gray-400">
              Symbol: <span th:text="${stock.symbol}"></span>
            </p>
          </div>

          <!-- Transactions by Portfolio -->
          <div class="mt-6">
            <h3
              class="text-lg font-bold text-gray-900 dark:text-white text-center"
            >
              Transactions by Portfolio
            </h3>
            <div
              th:each="entry : ${transactionsGroupedByPortfolio}"
              class="mt-6 bg-white rounded-lg shadow dark:bg-gray-800"
            >
              <h4
                class="px-6 py-3 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
                th:text="'Portfolio: ' + ${entry.key.name}"
              ></h4>
              <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table
                  class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                >
                  <thead
                    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                  >
                    <tr>
                      <th scope="col" class="px-6 py-3">Date</th>
                      <th scope="col" class="px-6 py-3">Type</th>
                      <th scope="col" class="px-6 py-3">Price</th>
                      <th scope="col" class="px-6 py-3">Quantity</th>
                      <th scope="col" class="px-6 py-3">Total Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      th:each="transaction : ${entry.value}"
                      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                    >
                      <td
                        class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                        th:text="${transaction.transactionAt}"
                      ></td>
                      <td
                        class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                        th:text="${transaction.transactionType}"
                      ></td>
                      <td
                        class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                        th:text="${transaction.price}"
                      ></td>
                      <td
                        class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                        th:text="${transaction.quantity}"
                      ></td>
                      <td
                        class="px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                        th:text="${transaction.totalValue}"
                      ></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
