<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wealthinker</title>

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{/css/output.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
      integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <style>
      /* Hero Section Customizations */
      .hero-bg {
        position: relative;
        background: url("images/hero-light.jpg") no-repeat center center / cover;
      }

      .dark .hero-bg {
        background: url("images/hero-light.jpg") no-repeat center center / cover;
      }

      .hero-bg::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(
          0,
          0,
          0,
          0.15
        ); /* Dark overlay for better text contrast */
        /* filter: blur(2px); */
        z-index: 1;
      }

      /* When dark mode is active, e.g. on <body class="dark"> */
      .dark .hero-bg::before {
        background: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
      }
      .hero-content {
        position: relative;
        z-index: 2;
      }

      html {
      scroll-behavior: smooth;
    }
    </style>
  </head>
  <body
    class="dark:bg-dark-background dark:text-dark-primary text-light-primary bg-light-background"
  >
    <!-- if user is not logged in then this navbar -->
    <div th:unless="${loggedInUser}">
      <header th:replace="~{shared/navbar :: navbar}"></header>
    </div>

    <!-- Hero Section -->
    <header id="hero" class="hero-bg h-[120vh] flex relative">
      <div class="flex items-center justify-center h-screen w-full">
        <div class="hero-content text-center px-6">
          <h1
            class="text-5xl md:text-7xl font-extrabold dark:text-dark-primary text-light-primary tracking-wide"
          >
            WealThinker
          </h1>

          <h2
            class="mt-4 text-3xl md:text-5xl font-semibold dark:text-dark-secondary text-light-secondary leading-tight"
          >
            Think Wealth, Manage Smart
            <span
              class="block text-2xl font-semibold text-light-primary dark:text-dark-primary mt-4"
            >
              Your One-Stop Investment Hub
            </span>
          </h2>

          <p
            class="mt-6 text-2xl dark:text-dark-secondary text-light-secondary max-w-2xl mx-auto leading-relaxed"
          >
            Take control of your finances, track portfolios, and make smarter
            investment decisions— all in one powerful platform.
          </p>

          <div class="mt-8">
            <a
              th:href="@{'/register'}"
              class="px-8 py-3 text-lg md:text-xl bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 text-white font-bold rounded-lg shadow-lg transition-transform duration-300 transform hover:scale-105"
            >
              Get Start Here
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Features Section Overlapping Hero Using Negative Margin -->
    <section
      id="features"
      class="relative bg-light-background_secondary dark:bg-dark-background_secondary rounded-lg shadow-lg p-8 mx-5 md:mx-auto lg:w-[85%] md:w-[90%] sm:w-[80%]"
      style="margin-top: -20vh !important; z-index: 10"
    >
      <h2
        class="text-3xl font-bold text-center text-light-primary dark:text-dark-primary mb-4"
      >
        Our Features
      </h2>
      <h3
        class="text-2xl font-bold text-center text-light-secondary dark:text-dark-secondary mb-2"
      >
        All-in-One Financial Powerhouse
      </h3>
      <p
        class="text-xl text-center text-light-tertiary dark:text-dark-tertiary mb-8"
      >
        Explore our suite of advanced tools designed to help you manage, plan,
        and grow your wealth with confidence.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Feature Item 1 -->
        <div
          class="bg-light-background_tertiary dark:bg-dark-background_tertiary p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/dashboard-1.jpg"
            alt="Portfolio Management"
          />
          <h2
            class="text-2xl font-semibold text-light-primary dark:text-dark-primary text-center mt-3"
          >
            Portfolio Management
          </h2>
          <p
            class="text-md text-light-tertiary dark:text-dark-tertiary text-center mt-1"
          >
            Monitor, analyze, and optimize your investments with precisions.
          </p>
        </div>

        <!-- Feature Item 2 -->
        <div
          class="bg-light-background_tertiary dark:bg-dark-background_tertiary p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/financial_planning.jpg"
            alt="Financial Planning"
          />
          <h2
            class="text-2xl font-semibold text-light-primary dark:text-dark-primary text-center mt-3"
          >
            Financial Planning & Budgeting
          </h2>
          <p
            class="text-md text-light-tertiary dark:text-dark-tertiary text-center mt-1"
          >
            Plan Your Tomorrow, Today – Build budgets, set goals, and secure
            your financial future.
          </p>
        </div>

        <!-- Feature Item 3 -->
        <div
          class="bg-light-background_tertiary dark:bg-dark-background_tertiary p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/expense_tracker.jpg"
            alt="Personal Finance & Expense Tracking"
          />
          <h2
            class="text-2xl font-semibold text-light-primary dark:text-dark-primary text-center mt-3"
          >
            Personal Finance & Expense Tracking
          </h2>
          <p
            class="text-md text-light-tertiary dark:text-dark-tertiary text-center mt-1"
          >
            Stay on Top of Your Spending – Track every rupee with ease
          </p>
        </div>

        <!-- Feature Item 4 -->
        <div
          class="bg-light-background_tertiary dark:bg-dark-background_tertiary p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/retirement.jpg"
            alt="Retirement Planning & Future Forecasting"
          />
          <h2
            class="text-2xl font-semibold text-light-primary dark:text-dark-primary text-center mt-3"
          >
            Retirement Planning & Future Forecasting
          </h2>
          <p
            class="text-md text-light-tertiary dark:text-dark-tertiary text-center mt-1"
          >
            Build the Future You Deserve – Comprehensive retirement planning
            made simple.
          </p>
        </div>

        <!-- Feature Item 5 -->
        <div
          class="bg-light-background_tertiary dark:bg-dark-background_tertiary p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/mobile_dashboard.jpg"
            alt="Mobile-Responsive Design"
          />
          <h2
            class="text-2xl font-semibold text-light-primary dark:text-dark-primary text-center"
          >
            Mobile Responsive Design
          </h2>
          <p
            class="text-md text-light-tertiary dark:text-dark-tertiary text-center"
          >
            Invest On-the-Go – All the Power of Desktop in Your Pocket.
          </p>
        </div>

        <!-- Add more feature items as needed -->
      </div>
    </section>

    <!-- About Section -->
    <section
      id="about"
      class="relative bg-light-background_secondary dark:bg-dark-background_secondary rounded-lg shadow-lg p-8 mx-auto mt-10 w-full max-w-[90%]"
      style="width: 95%"
    >
      <h2
        class="text-3xl font-bold text-center text-light-primary dark:text-dark-primary mb-4"
      >
        About Wealthinker
      </h2>
      <h3
        class="text-2xl font-bold text-center text-light-secondary dark:text-dark-secondary mb-6"
      >
        Empowering You to Master Your Financial Future with a Comprehensive
        Platform – Your All-in-One Investment Dashboard for Investments,
        Budgeting, Expense Tracking, and Future Planning.
      </h3>

      <div
        class="bg-light-background_tertiary dark:bg-dark-background_tertiary rounded-lg shadow p-8 flex flex-col md:flex-row items-center"
      >
        <div class="md:w-1/2">
          <!-- Light Mode Image -->
          <img
            src="images/about_dashboard_light.jpg"
            alt="Dashboard Preview Light"
            class="rounded-lg block dark:hidden w-full max-h-96 object-cover"
          />
          <!-- Dark Mode Image -->
          <img
            src="images/about_dashboard_dark.jpg"
            alt="Dashboard Preview Dark"
            class="rounded-lg hidden dark:block w-full max-h-96 object-cover"
          />
        </div>
        <div class="md:w-1/2 md:pl-8 mt-6 md:mt-0">
          <h1 class="text-4xl font-bold text-gray-900 dark:text-white mb-4">
            Take Full Control of Your Investments
          </h1>
          <p class="text-gray-700 dark:text-gray-300 text-lg">
            At Wealthinker, we empower you with a comprehensive platform that
            integrates an all-in-one investment dashboard with robust budgeting,
            expense tracking, and future planning tools. Seamlessly track your
            investments, monitor daily spending, and visualize your entire
            financial landscape with interactive graphs and real-time
            insights—giving you complete control over every aspect of your
            financial journey.
          </p>
        </div>
      </div>

      <div>
        <div class="w-full mt-8">
          <div
            class="bg-light-background_tertiary dark:bg-dark-background_tertiary rounded-lg shadow p-8"
          >
            <h2
              class="text-3xl font-bold text-gray-900 dark:text-white mb-4 text-center"
            >
              Our Mission
            </h2>
            <p class="text-gray-700 dark:text-gray-300 text-lg mb-4">
              At Wealthinker, our mission is to empower you with deep financial
              insights by delivering a comprehensive, user-centric platform. We
              believe everyone deserves a transparent, all-encompassing view of
              their financial world—free from traditional intermediaries.
            </p>
            <p class="text-gray-700 dark:text-gray-300 text-lg">
              Our innovative platform seamlessly centralizes your investment
              dashboard, budgeting, expense tracking, retirement planning, and
              more, transforming raw data into actionable strategies that put
              you in control of your financial future.
            </p>
          </div>
        </div>
      </div>

      <!-- How It Works Section -->

      <div class="w-full mt-8">
        <div
          class="bg-light-background_tertiary dark:bg-dark-background_tertiary rounded-lg shadow p-8"
        >
          <h2
            class="text-3xl font-bold text-gray-900 dark:text-white mb-4 text-center"
          >
            How It Works
          </h2>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Step 1 -->
            <div class="flex flex-col items-center">
              <div
                class="w-16 h-16 bg-blue-500 rounded-full flex items-center justify-center mb-4"
              >
                <span class="text-white font-bold">1</span>
              </div>
              <h3
                class="text-xl font-semibold text-gray-900 dark:text-white mb-2"
              >
                Connect or Input & Consolidate Data
              </h3>
              <p class="text-center text-gray-700 dark:text-gray-300">
                Securely import data from connected accounts or manually enter
                your financial details to create a unified view.
              </p>
            </div>
            <!-- Step 2 -->
            <div class="flex flex-col items-center">
              <div
                class="w-16 h-16 bg-blue-500 rounded-full flex items-center justify-center mb-4"
              >
                <span class="text-white font-bold">2</span>
              </div>
              <h3
                class="text-xl font-semibold text-gray-900 dark:text-white mb-2"
              >
                Visualize & Analyze
              </h3>
              <p class="text-center text-gray-700 dark:text-gray-300">
                Dive into detailed graphs, charts, and real-time data to monitor
                investments, track expenses, and manage your financial health.
              </p>
            </div>
            <!-- Step 3 -->
            <div class="flex flex-col items-center">
              <div
                class="w-16 h-16 bg-blue-500 rounded-full flex items-center justify-center mb-4"
              >
                <span class="text-white font-bold">3</span>
              </div>
              <h3
                class="text-xl font-semibold text-gray-900 dark:text-white mb-2"
              >
                Plan & Optimize
              </h3>
              <p class="text-center text-gray-700 dark:text-gray-300">
                Utilize robust planning tools to budget, forecast retirement,
                manage debt, and secure your financial future.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Our Technology & Security Section -->
      <div class="mt-8">
        <div
          class="bg-light-background_tertiary dark:bg-dark-background_tertiary rounded-lg shadow p-8"
        >
          <h2
            class="text-3xl font-bold text-gray-900 dark:text-white mb-4 text-center"
          >
            Built on Innovation & Trust
          </h2>
          <p class="text-gray-700 dark:text-gray-300 text-lg">
            Our platform leverages cutting-edge technology to ensure a secure
            and seamless experience. With robust data encryption, real-time
            analytics, and an intuitive interface, Wealthinker keeps your
            financial information safe while delivering actionable insights.
          </p>
        </div>
      </div>
    </section>

    <!-- Testimonials Section -->
    <section
      id="testimonials"
      class="relative bg-light-background_secondary dark:bg-dark-background_secondary rounded-lg shadow-lg p-8 mx-auto mt-10 w-full"
    >
      <div class="container mx-auto px-4">
        <h2
          class="text-3xl font-bold text-center text-gray-900 dark:text-white mb-8"
        >
          Testimonials
        </h2>
        <!-- Swiper -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide">
              <div
                class="bg-light-background_tertiary dark:bg-dark-background_tertiary rounded-lg shadow p-6 flex flex-col items-center"
              >
                <img
                  class="w-24 h-24 rounded-full object-cover"
                  src="https://randomuser.me/api/portraits/men/1.jpg"
                  alt="John Doe"
                />
                <p
                  class="mt-4 italic text-gray-600 dark:text-gray-300 text-center"
                >
                  "Wealthinker transformed my financial planning. Everything is
                  so easy to manage!"
                </p>
                <p class="mt-4 font-bold text-gray-800 dark:text-white">
                  - John Doe
                </p>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide">
              <div
                class="bg-light-background_tertiary dark:bg-dark-background_tertiary rounded-lg shadow p-6 flex flex-col items-center"
              >
                <img
                  class="w-24 h-24 rounded-full object-cover"
                  src="https://randomuser.me/api/portraits/women/2.jpg"
                  alt="Jane Smith"
                />
                <p
                  class="mt-4 italic text-gray-600 dark:text-gray-300 text-center"
                >
                  "I love how simple and user-friendly the platform is!"
                </p>
                <p class="mt-4 font-bold text-gray-800 dark:text-white">
                  - Jane Smith
                </p>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="swiper-slide">
              <div
                class="bg-light-background_tertiary dark:bg-dark-background_tertiary rounded-lg shadow p-6 flex flex-col items-center"
              >
                <img
                  class="w-24 h-24 rounded-full object-cover"
                  src="https://randomuser.me/api/portraits/men/3.jpg"
                  alt="Alex Johnson"
                />
                <p
                  class="mt-4 italic text-gray-600 dark:text-gray-300 text-center"
                >
                  "A game-changer in financial management, highly recommended."
                </p>
                <p class="mt-4 font-bold text-gray-800 dark:text-white">
                  - Alex Johnson
                </p>
              </div>
            </div>
            <!-- Slide 4 -->
            <div class="swiper-slide">
              <div
                class="bg-light-background_tertiary dark:bg-dark-background_tertiary rounded-lg shadow p-6 flex flex-col items-center"
              >
                <img
                  class="w-24 h-24 rounded-full object-cover"
                  src="https://randomuser.me/api/portraits/women/4.jpg"
                  alt="Emily Davis"
                />
                <p
                  class="mt-4 italic text-gray-600 dark:text-gray-300 text-center"
                >
                  "The best experience I've ever had with an online platform."
                </p>
                <p class="mt-4 font-bold text-gray-800 dark:text-white">
                  - Emily Davis
                </p>
              </div>
            </div>
            <!-- Add more slides as needed -->
          </div>
          <!-- Pagination (if you want dots) -->
          <div class="swiper-pagination"></div>
          <!-- Navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>

    <!-- Call-to-Action Section -->
    <section id="call-to-action" class="py-12">
      <div class="container mx-auto px-4 text-center">
        <div
          class="max-w-full p-8 bg-light-background_secondary dark:bg-dark-background_secondary border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:border-gray-700 dark:hover:bg-gray-700 transition duration-300"
        >
          <h5
            class="mb-4 text-2xl md:text-3xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Ready to take control of your finances?
          </h5>
          <a
            th:href="@{'/register'}"
            class="inline-flex items-center px-6 py-3 text-lg font-semibold text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transform hover:scale-105 transition duration-300"
          >
            Join Now – It’s Free!
            <svg
              class="rtl:rotate-180 w-5 h-5 ml-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer th:replace="~{shared/footer :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

    <script data-th-src="@{'/js/script.js'}"></script>
    
    <!-- <th:block th:replace="${script}"></th:block> -->
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".swiper-container", {
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        slidesPerView: 1,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          // when window width is >= 768px (tablets)
          768: {
            slidesPerView: 2,
          },
          // when window width is >= 1024px (large screens)
          1024: {
            slidesPerView: 3,
          },
        },
      });
    </script>
  </body>
</html>
