<!DOCTYPE html>
<html
  lang="en"
  th:replace="shared/base :: parent(~{::#content}, ~{::#title}, ~{})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Home Page</title>
  </head>
  <body>
    <div id="content">
      <h1 class="text-red-700 text-5xl text-center">Home Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
        dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
        psum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit
        amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur
        adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
        elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum
        dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
        consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur
        adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
        elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum
        dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
        consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur
        adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
        elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum
        dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
        consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur
        adipisicing elit.
      </p>
    </div>
  </body>
</html>
