<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wealthinker</title>

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{/css/output.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
      integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <style>
      /* Hero Section Customizations */
      .hero-bg {
        position: relative;
        background: url("images/hero-light.jpg") no-repeat center center / cover;
      }

      .dark .hero-bg {
        background: url("images/hero-light.jpg") no-repeat center center / cover;
      }

      .hero-bg::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(
          0,
          0,
          0,
          0.15
        ); /* Dark overlay for better text contrast */
        /* filter: blur(2px); */
        z-index: 1;
      }

      /* When dark mode is active, e.g. on <body class="dark"> */
      .dark .hero-bg::before {
        background: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
      }
      .hero-content {
        position: relative;
        z-index: 2;
      }
    </style>
  </head>
  <body
    class="dark:bg-dark-background dark:text-dark-text text-light-text bg-light-background"
  >
    <!-- if user is not logged in then this navbar -->
    <div th:unless="${loggedInUser}">
      <header th:replace="~{shared/navbar :: navbar}"></header>
    </div>

    <!-- Hero Section -->
    <header class="hero-bg h-[120vh] flex relative">
      <div class="flex items-center justify-center h-screen w-full">
        <div class="hero-content text-center px-6">
          <h1
            class="text-5xl md:text-7xl font-extrabold dark:text-dark-primary text-light-primary tracking-wide"
          >
            WealThinker
          </h1>

          <h2
            class="mt-4 text-3xl md:text-5xl font-semibold dark:text-dark-secondary text-light-secondary leading-tight"
          >
            Think Wealth, Manage Smart
            <span
              class="block text-2xl font-semibold text-light-primary dark:text-dark-primary mt-4"
            >
              Your One-Stop Investment Hub
            </span>
          </h2>

          <p
            class="mt-6 text-2xl dark:text-dark-text text-light-text max-w-2xl mx-auto leading-relaxed"
          >
            Take control of your finances, track portfolios, and make smarter
            investment decisions— all in one powerful platform.
          </p>

          <div class="mt-8">
            <a
              href="/signup"
              class="px-8 py-3 text-lg md:text-xl bg-light-accent dark:bg-dark-accent text-light-primary font-bold rounded-lg shadow-lg hover:bg-light-accent_hover dark:hover:bg-dark-accent_hover transition-transform duration-300 transform hover:scale-105"
            >
              Get Started for Free
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Features Section Overlapping Hero Using Negative Margin -->
    <section
      id="features"
      class="relative bg-light-background_secondary dark:bg-dark-background_secondary rounded-lg shadow-lg p-8 mx-5 md:mx-auto lg:w-[85%] md:w-[90%] sm:w-[80%]"
      style="margin-top: -20vh !important; z-index: 10"
    >
      <h2
        class="text-3xl font-bold text-center text-light-primary dark:text-dark-primary mb-8"
      >
        Our Features
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Feature Item 1 -->
        <div
          class="bg-light-accent dark:bg-dark-accent p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/dashboard-1.jpg"
            alt="Portfolio Management"
          />
          <h2
            class="text-2xl font-semibold text-light-text dark:text-dark-text text-center"
          >
            Portfolio Management
          </h2>
          <p class="text-md text-light-text dark:text-dark-text text-center">
            Monitor, analyze, and optimize your investments.
          </p>
        </div>
        <!-- Feature Item 1 -->
        <div
          class="bg-light-accent dark:bg-dark-accent p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/dashboard-1.jpg"
            alt="Portfolio Management"
          />
          <h2
            class="text-2xl font-semibold text-light-text dark:text-dark-text text-center"
          >
            Portfolio Management
          </h2>
          <p class="text-md text-light-text dark:text-dark-text text-center">
            Monitor, analyze, and optimize your investments.
          </p>
        </div>
        <!-- Feature Item 1 -->
        <div
          class="bg-light-accent dark:bg-dark-accent p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/dashboard-1.jpg"
            alt="Portfolio Management"
          />
          <h2
            class="text-2xl font-semibold text-light-text dark:text-dark-text text-center"
          >
            Portfolio Management
          </h2>
          <p class="text-md text-light-text dark:text-dark-text text-center">
            Monitor, analyze, and optimize your investments.
          </p>
        </div>

        <!-- Feature Item 1 -->
        <div
          class="bg-light-accent dark:bg-dark-accent p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/dashboard-1.jpg"
            alt="Portfolio Management"
          />
          <h2
            class="text-2xl font-semibold text-light-text dark:text-dark-text text-center"
          >
            Portfolio Management
          </h2>
          <p class="text-md text-light-text dark:text-dark-text text-center">
            Monitor, analyze, and optimize your investments.
          </p>
        </div>
        <!-- Feature Item 1 -->
        <div
          class="bg-light-accent dark:bg-dark-accent p-4 rounded-lg shadow hover:shadow-xl transition-shadow duration-300"
        >
          <img
            class="w-full h-48 object-cover rounded-t-lg mb-2"
            src="images/dashboard-1.jpg"
            alt="Portfolio Management"
          />
          <h2
            class="text-2xl font-semibold text-light-text dark:text-dark-text text-center"
          >
            Portfolio Management
          </h2>
          <p class="text-md text-light-text dark:text-dark-text text-center">
            Monitor, analyze, and optimize your investments.
          </p>
        </div>

        <!-- Add more feature items as needed -->
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="py-12">
      <div class="container mx-auto px-4">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 flex flex-col md:flex-row items-center"
        >
          <div class="md:w-1/2">
            <img
              src="https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="About Us"
              class="about-img"
            />
          </div>
          <div class="md:w-1/2 md:pl-8 mt-6 md:mt-0 m-4">
            <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">
              About Us
            </h2>
            <p class="text-gray-700 dark:text-gray-300 text-lg">
              Wealthinker is a comprehensive platform that empowers you to take
              control of your finances. With our advanced tools for portfolio
              management, financial planning, and stock analysis, you can
              effortlessly track and grow your wealth.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials Section -->
    <section id="testimonials" class="py-12 bg-gray-100 dark:bg-gray-800">
      <div class="container mx-auto px-4">
        <div class="bg-white dark:bg-gray-700 rounded-lg shadow p-6">
          <h2
            class="text-3xl font-bold text-center text-gray-900 dark:text-white mb-8"
          >
            Testimonials
          </h2>
          <!-- Simple auto-scrolling carousel -->

          <div
            id="default-carousel"
            class="relative w-full z-10"
            data-carousel="slide"
          >
            <!-- Carousel wrapper -->
            <div class="relative overflow-hidden rounded-lg md:h-96">
              <!-- Item 1 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img
                  src="https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                  alt="..."
                />
              </div>
              <!-- Item 2 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <div class="bg-white dark:bg-gray-700 rounded-lg shadow p-6">
                  <p class="italic text-gray-600 dark:text-gray-300">
                    "Wealthinker transformed my financial planning. Everything
                    is so easy to manage!"
                  </p>
                  <p class="mt-4 font-bold text-gray-800 dark:text-white">
                    – John Doe
                  </p>
                </div>
              </div>
              <!-- Item 3 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <h1>My Testimonial</h1>
              </div>
              <!-- Item 4 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img
                  src="https://images.unsplash.com/photo-1551590192-8070a16d9f67?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                  alt="..."
                />
              </div>
              <!-- Item 5 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img
                  src="https://images.unsplash.com/photo-1528747045269-390fe33c19f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                  alt="..."
                />
              </div>
            </div>
            <!-- Slider indicators -->
            <div
              class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
            >
              <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="true"
                aria-label="Slide 1"
                data-carousel-slide-to="0"
              ></button>
              <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 2"
                data-carousel-slide-to="1"
              ></button>
              <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 3"
                data-carousel-slide-to="2"
              ></button>
              <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 4"
                data-carousel-slide-to="3"
              ></button>
              <button
                type="button"
                class="w-3 h-3 rounded-full"
                aria-current="false"
                aria-label="Slide 5"
                data-carousel-slide-to="4"
              ></button>
            </div>
            <!-- Slider controls -->
            <button
              type="button"
              class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
              data-carousel-prev
            >
              <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
              >
                <svg
                  class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 1 1 5l4 4"
                  />
                </svg>
                <span class="sr-only">Previous</span>
              </span>
            </button>
            <button
              type="button"
              class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
              data-carousel-next
            >
              <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
              >
                <svg
                  class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
                <span class="sr-only">Next</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Call-to-Action Section -->
    <section class="py-12">
      <div class="container mx-auto px-4 text-center">
        <div
          class="h-40 block max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Ready to take control of your finances?
          </h5>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Read more
            <svg
              class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <!-- <th:block th:replace="${script}"></th:block> -->
  </body>
</html>
