<!DOCTYPE html>
<html
  lang="en"
  th:fragment="parent(content, title, script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">Wealthinker</title>

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{/css/output.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
      integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="h-screen dark:bg-dark-background dark:text-dark-primary text-light-primary bg-light-background">
    <div class="flex flex-col min-h-screen">
      <!-- Header -->
      <!-- if user is logged in then this navbar -->
      <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/user_navbar :: user-navbar}"></div>
      </div>

      <!-- if user logged in then this sidebar -->
      <!-- <div th:if="${loggedInUser}">
        <div data-th-replace="~{shared/sidebar :: sidebar}"></div>
      </div> -->

      <!-- if user is not logged in then this navbar -->
      <div th:unless="${loggedInUser}">
        <header th:replace="~{shared/navbar :: navbar}"></header>
      </div>

      <!-- Header Ended -->

      <!-- main content -->
      <main class="flex-1 pt-20 p-4">
        <section th:replace="${content}"></section>
      </main>

      <!-- Footer -->
      <footer th:replace="~{shared/footer :: footer}"></footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <!-- <th:block th:replace="${script}"></th:block> -->
  </body>
</html>
