<!DOCTYPE html>
<html
  lang="en"
  th:replace="shared/base :: parent(~{::#content}, ~{::#title}, ~{})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Your Portfolios</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12">
        <div class="xl:col-span-1"></div>
        <div class="col-span-12 xl:col-span-10">
          <h1
            class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white text-center"
          >
            Your Portfolios
          </h1>
          <p class="font-normal text-gray-400 dark:text-gray-500 text-center">
            Manage your portfolios and stocks effortlessly
          </p>

          <div class="mt-6 space-y-6">
            <!-- Portfolio List -->
            <div
              th:each="portfolio, iter : ${portfolios}"
              class="relative block p-6 bg-white border-t-8 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700"
              th:classappend="${iter.index % 2 == 0} ? 'border-blue-700 dark:border-gray-400' : 'border-green-700 dark:border-gray-600'"
            >
              <!-- Actions -->
              <div class="absolute top-4 right-4 flex space-x-2">
                <a
                  th:href="@{/stock/search(portfolioId=${portfolio.id}, userId=${userId})}"
                  class="px-2 py-1 rounded bg-green-700 text-white text-sm dark:bg-green-700 dark:hover:bg-green-800 hover:bg-green-900"
                  >Add Stock</a
                >
                <a
                  th:href="@{'/portfolios/' + ${portfolio.id} + '/edit'}"
                  class="px-2 py-1 rounded bg-blue-700 text-white text-sm dark:bg-blue-700 dark:hover:bg-blue-800 hover:bg-blue-900"
                  >Edit</a
                >
                <form
                  th:action="@{'/portfolios/' + ${portfolio.id} + '/delete'}"
                  method="post"
                  class="inline-block"
                >
                  <button
                    type="submit"
                    class="px-2 py-1 rounded bg-red-700 text-white text-sm dark:bg-red-700 dark:hover:bg-red-800 hover:bg-red-900"
                  >
                    Delete
                  </button>
                </form>
              </div>

              <!-- Portfolio Details -->
              <h2
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                th:text="${portfolio.name}"
              ></h2>
              <p
                class="font-normal text-gray-500 dark:text-gray-400"
                th:text="${portfolio.description}"
              ></p>
              <p
                class="mt-2 text-sm font-semibold text-gray-600 dark:text-gray-300"
              >
                Total Current Value: <span th:text="${portfolio.totalCurrentValue}"></span>
              </p>
              <p
                class="mt-2 text-sm font-semibold text-gray-600 dark:text-gray-300"
              >
                Total Invested Value: <span th:text="${portfolio.totalInvestedValue}"></span>
              </p>
              <p
                class="mt-2 text-sm font-semibold text-gray-600 dark:text-gray-300"
              >
                Total Realized Profit: <span th:text="${portfolio.realizedProfitLoss}"></span>
              </p>
              <p
                class="mt-2 text-sm font-semibold text-gray-600 dark:text-gray-300"
              >
                Total Unrealized Profit: <span th:text="${portfolio.unrealizedProfitLoss}"></span>
              </p>
              

              <!-- Stocks List -->
              <div
                class="mt-6 relative overflow-x-auto shadow-md sm:rounded-lg"
              >
                <h3
                  class="mb-3 text-lg font-bold text-gray-900 dark:text-white text-center"
                >
                  Stocks in this Portfolio
                </h3>
                <div
                  class="mt-6 relative overflow-x-auto shadow-md sm:rounded-lg"
                >
                  <table
                    class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                  >
                    <thead
                      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                    >
                      <tr>
                        <th scope="col" class="px-6 py-3">Name</th>
                        <th scope="col" class="px-6 py-3 text-center">
                          Quantity
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                          Average Price
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                          Total Current Value
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                          Total Invested Value
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                          Returns
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        th:each="portfolioStock : ${portfolio.portfolioStocks}"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                      >
                        <td>
                          <a
                            th:href="@{/stock/details/{stockId}(stockId=${portfolioStock.stock.id}, portfolioId=${portfolio.id})}"
                          >
                            <span
                              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                              th:text="${portfolioStock.stock.name}"
                            ></span>
                          </a>
                        </td>
                        <td
                          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
                          th:text="${portfolioStock.quantity}"
                        ></td>
                        <td
                          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
                          th:text="${portfolioStock.averagePrice}"
                        ></td>
                        <td
                          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
                          th:text="${portfolioStock.totalCurrentValue}"
                        ></td>
                        <td
                          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
                          th:text="${portfolioStock.totalInvestedValue}"
                        ></td>
                        <td
                          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
                          th:text="${T(java.lang.String).format('%.2f', (portfolioStock.totalCurrentValue - portfolioStock.totalInvestedValue))} + ' (' +
                                  ${T(java.lang.String).format('%.2f', ((portfolioStock.totalCurrentValue - portfolioStock.totalInvestedValue) * 100) / portfolioStock.totalInvestedValue)} + ' %)'"
                          th:class="${(portfolioStock.totalCurrentValue - portfolioStock.totalInvestedValue) < 0 ? 'text-red-500 font-medium  text-center' : 'text-green-500 font-medium  text-center'}"
                        />
                        <td
                          class="px-6 py-4 text-center flex justify-center space-x-4"
                        >
                          <!-- Buy More Button -->
                          <a
                            th:href="@{/stock/add/{symbol}(symbol=${portfolioStock.stock.symbol}, portfolioId=${portfolio.id}, userId=${userId}, name=${portfolioStock.stock.name})}"
                            class="px-4 py-2 w-24 rounded bg-green-700 text-white text-sm font-semibold dark:bg-green-700 dark:hover:bg-green-800 hover:bg-green-800 transition-colors duration-300 text-center"
                          >
                            Buy More
                          </a>

                          <!-- Sell Button -->
                          <a
                            th:href="@{/stock/sell/{symbol}(symbol=${portfolioStock.stock.symbol}, portfolioId=${portfolio.id}, userId=${userId}, name=${portfolioStock.stock.name})}"
                            class="px-4 py-2 w-24 rounded bg-red-700 text-white text-sm font-semibold dark:bg-red-700 dark:hover:bg-red-800 hover:bg-red-800 transition-colors duration-300 text-center"
                          >
                            Sell
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End Portfolio -->
          </div>

          <!-- Create New Portfolio -->
          <div class="mt-6 text-center">
            <a
              th:href="@{'/portfolios/new'}"
              class="px-4 py-2 rounded bg-blue-700 text-white dark:bg-blue-700 dark:hover:bg-blue-800 hover:bg-blue-900"
            >
              Create New Portfolio
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
