<!DOCTYPE html>
<html
  lang="en"
  th:replace="shared/base :: parent(~{::#content}, ~{::#title}, ~{})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Edit Portfolio</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12">
        <div class="md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <div
            class="block p-6 bg-white border-t-8 border-blue-700 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-700"
          >
            <!-- Message  -->
            <div th:replace="shared/message :: messagebox"></div>

            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Edit Your Portfolio
            </h5>
            <p class="font-normal text-gray-400 dark:text-gray-500">
              Your only portfolio manager for wealth
            </p>

            <!-- Form -->
            <form
              data-th-object="${portfolio}"
              data-th-action="@{'/portfolios/' + *{id} + '/update'}"
              method="post"
              class="mt-5"
            >
              <!-- Name -->
              <div class="mb-3">
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Name</label
                >
                <input
                  type="text"
                  id="name"
                  data-th-field="*{name}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter your portfolio name"
                  required
                />
                <p
                  data-th-if="${#fields.hasErrors('name')}"
                  data-th-errors="*{name}"
                  class="text-red-600 px-1 px-2"
                >
                  Name is Required
                </p>
              </div>

              <!-- Description -->
              <div class="mb-3">
                <label
                  for="description"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Description</label
                >
                <input
                  type="text"
                  id="description"
                  data-th-field="*{description}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter description for you protfolio..."
                  required
                />
                <p
                  data-th-if="${#fields.hasErrors('description')}"
                  data-th-errors="*{description}"
                  class="text-red-600 px-1 px-2"
                >
                  Description is Required
                </p>

                <!-- <p th:if="${#fields.hasErrors('username')}" class="text-red-600 px-1 px-2" th:text="${#fields.hasErrors('username') ? 'Username is already taken. Please choose a different one.' : ''}"></p> -->
              </div>

              <!-- Signup Button -->
              <div class="mb-3 flex justify-center space-x-3">
                <button
                  type="submit"
                  class="px-3 py-2 rounded bg-gray-700 text-white dark:bg-blue-700 dark:hover:bg-blue-800 hover:bg-gray-900"
                >
                  Update
                </button>
                <button
                  type="reset"
                  class="px-3 py-2 rounded bg-yellow-700 text-white dark:bg-yellow-700 dark:hover:bg-yellow-800 hover:bg-yellow-900"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
