<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Stock in Portfolio</title>
  </head>
  <body>
    <h1>Transactions for Stock in Portfolio</h1>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total Value</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="transaction : ${transactions}">
          <td th:text="${transaction.transactionType}"></td>
          <td th:text="${transaction.quantity}"></td>
          <td th:text="${transaction.price}"></td>
          <td th:text="${transaction.totalValue}"></td>
          <td th:text="${transaction.transactionAt}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
